 .messages-loader-dialog {
  position: fixed;
  z-index: 999;
  top: 15%;
  left: 35%;
  bottom: 0;
  right: 0;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  flex-shrink: 0 !important;
  display: -webkit-flex !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}
.conversations-list {
  width: 100%;
}
.conversation-icons {
  height: 100%;
}
.conversations-sidenav {
  height: 100%;
  width: 35%;
  padding-left: 8px;
  padding-right: 8px;
}
.conversations-container {
  height: calc(100% - 64px);
}
.conversation-bar {
  border-bottom: 1px solid #232a2e;
  min-height: 64px;
  background-color:#282e34 !important;
  color:#f4f4f4 !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  flex-shrink: 0 !important;
  display: -webkit-flex !important;
}
.msg-intro-card {
  // border-radius: 5px !important;
  padding: 24px !important;
  // background-color: #282e34 !important;
  color: #f4f4f4 !important;
}
.msg-card-received {
  border-radius: 25px !important;
  padding: 12px !important;
  background-color: #677685 !important;
  color: #f4f4f4 !important;
  max-width:80%;
}
.msg-card-sent {
  border-radius: 25px !important;
  padding: 12px !important;
  background-color: #27AE60 !important;
  color: #f4f4f4 !important;
  max-width:80%;
}
.messages-content {
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 12px;
  margin-right: 12px;
}
.messages-container {
  width: 100%;
  overflow-y: scroll !important;
}
.message-sent-date {
  font-size: 12px;
  color: #8a8a8a;
  text-align: center;
}
.message-bar {
  min-height: 72px;
  height:auto!important;
  
  background-color: #ffffff !important;
  color: #282e34 !important;
}
.message-form {
  border-top: 1px solid #232a2e;
  padding: 12px;
  height:auto!important;
  width: calc(100% - 24px);
}
.message-form-input {
  min-height: 48px !important;
  width:100% !important;
}
.message-input {
  // min-height: 48px !important;
  font-family:"Lato", sans-serif !important;
  width:90%;
  resize:none;
  outline: none;
  border-radius: 25px !important;
  padding: 12px;
}
.green-border-focus .message-input:focus {
  outline: none;
  border: 2px solid #27AE60;
}
.button-with-icon-text {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  display: -webkit-flex !important;
  -webkit-box-pack: left !important;
      -ms-flex-pack: left !important;
          justify-content: left !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  color: #ffffff !important;
  height: 48px !important;
  width: 164px !important;
}
.messages-drawer-content {
  overflow-y: hidden !important;
  background-color:#282e34 !important;
  color:#f4f4f4 !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  flex-shrink: 0 !important;
  display: flex !important;
  display: -webkit-flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
.message-unread-icon {
  height: 8px;
  width: 8px;
}
.message-read-icon {
  height: 8px;
  width: 8px;
}
.message-selected-icon {
  height: 8px;
  width: 8px;
}
.messages-header-image {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}
.conversation-header-image {
  display: none;
  width: 42px;
  height: 42px;
  border-radius: 50%;
}
.conversations-content {
  box-sizing: border-box;
  // width: 75%;
  text-align: left;
  padding-left: 16px;
  padding-right: 8px;
}
.conversations-title {
  font-size: 18px;
  white-space: nowrap;
  text-overflow: ellipsis !important;
  overflow: hidden;
  padding: 0px !important;
  margin: 0px !important;
}
.conversations-subtitle {
  font-size: 18px;
  color: #ababcc;
  white-space: nowrap;
  text-overflow: ellipsis !important;
  overflow: hidden;
  padding: 0px !important;
  margin: 0px !important;
}
.conversations-sidenav-content {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  flex-shrink: 0 !important;
  display: -webkit-flex !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
  // padding-bottom: 12px;
  // padding-top: 12px;
}
.conversation-card {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  display: -webkit-flex !important;
  flex-shrink: 0 !important;
  // -webkit-box-pack: justify !important;
  //     -ms-flex-pack: justify !important;
  //         justify-content: space-between !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  border-radius: 5px !important;
  padding: 8px !important;
  background-color: #282e34 !important;
  color: #f4f4f4 !important;
  height: 72px !important;
  -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
        justify-content: center !important;
  -webkit-box-align: center !important;
    -ms-flex-align: center !important;
        align-items: center !important;
}
.selected-conversation-card {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  display: -webkit-flex !important;
  flex-shrink: 0 !important;
  // -webkit-box-pack: justify !important;
  //     -ms-flex-pack: justify !important;
  //         justify-content: space-between !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  border-radius: 5px !important;
  padding: 8px !important;
  background-color: #33404d !important;
  color: #f4f4f4 !important;
  height: 72px !important;
  -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
        justify-content: center !important;
  -webkit-box-align: center !important;
    -ms-flex-align: center !important;
        align-items: center !important;
}
.conversation-card:hover  {
  background-color:#3b444d !important;
}
.conversation-spacer {
  -webkit-box-flex: 1 !important;
      -ms-flex: 1 1 auto !important;
          flex: 1 1 auto !important;
}
.message-title {
  text-align:center;
  // text-transform: uppercase;
  line-height: 1.4;
  font-weight: bold;
  padding: 0px !important;
  margin: 0px !important;
  padding-bottom: 6px !important;
}
.message-subtitle {
  text-align:center;
  font-size: 18px;
  color: #ababcc;
  padding: 0px !important;
  margin: 0px !important;
  padding-bottom: 6px !important;
}
.conversation-header-title {
  line-height: 1.4;
  font-weight: bold;
  padding: 0px !important;
  margin: 0px !important;
  padding-bottom: 6px !important;
}
@media all and (max-width: 400px) {
  .conversations-sidenav {
    padding: 0px !important;
  }
  .conversation-spacer {
    display: none !important;
  }
  .conversation-icons {
    display:none !important;
  }
  .conversations-content {
    display:none !important;
  }
  .conversation-header-title {
    display:none !important;
  }
  .conversation-header-image {
    display:block !important;
  }
  .conversations-sidenav {
    width: 25% !important;
  }
  .conversations-sidenav-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .message-input {
    width:80%;
  }
}
@media (min-width: 401px) and (max-width: 440px) {
  .conversation-spacer {
    display: none !important;
  }
  .conversation-icons {
    display:none !important;
  }
  .conversations-content {
    display:none !important;
  }
  .conversations-sidenav {
    width: 25% !important;
  }
  .conversation-header-title {
    display:none !important;
  }
  .conversation-header-image {
    display:block !important;
  }
  .conversations-sidenav-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .selected-conversation-card {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    display: -webkit-flex !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    height: inherit !important;
    flex-shrink: 0 !important;
  }
  .conversation-card {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    display: -webkit-flex !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    height: inherit !important;
    flex-shrink: 0 !important;
  }
  .message-input {
    width:80%;
  }
}
@media (min-width: 441px) and (max-width: 470px) {
  .conversation-spacer {
    display: none !important;
  }
  .conversation-icons {
    display:none !important;
  }
  .conversations-content {
    display:none !important;
  }
  .conversation-header-title {
    display:none !important;
  }
  .conversation-header-image {
    display:block !important;
  }
  .conversations-sidenav {
    width: 25% !important;
  }
  .conversations-sidenav-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .selected-conversation-card {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    display: -webkit-flex !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    height: inherit !important;
    flex-shrink: 0 !important;
  }
  .conversation-card {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    display: -webkit-flex !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    height: inherit !important;
    flex-shrink: 0 !important;
  }
}
@media (min-width: 471px) and (max-width: 630px) {
  // .conversations-sidenav {
  //     height: 100%;
  //     width: 100vw;
  // }
  .conversations-content {
    display:none !important;
    // width:50%;
  }
  .conversations-sidenav {
    width: 25% !important;
  }
  .conversations-sidenav-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (min-width: 631px) and (max-width: 911px) {
  // .conversations-sidenav {
  //     height: 100%;
  //     width: 100vw;
  // }
  .conversations-sidenav-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .conversations-content {
    max-width: calc(100% - 100px);
    // width:50%;
  }
  .conversations-sidenav {
    width: 40% !important;
  }
}