.search-form-main {
  height: calc(100% - 64px) !important;
}
.search-container {
  height: calc(100% - 64px);
}
.search-bar {
  min-height: 64px;
  background-color:#ffffff !important;
  color:#27272f !important;
  border-bottom: 1px solid #f4f4f4;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  flex-shrink: 0 !important;
  display: -webkit-flex !important;
}
.filter-chips {
  padding: 0px !important;
}
.filter-chip {
  color:#ffffff !important;
}

.search-bar-filters {
  border-bottom: 1px solid #F1F1F1;
  min-height: 64px;
  background-color:#ffffff !important;
  color:#27272f !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  flex-shrink: 0 !important;
  display: -webkit-flex !important;
}
.sidenav {
  height: 100%;
  width: 300px;
  padding-left: 24px;
  padding-right: 0px;
}
.sidenav-content {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  flex-shrink: 0 !important;
  display: -webkit-flex !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
  width: calc(100% - 24px);
  padding-bottom: 24px;
  padding-top: 24px;
}
.sidenav-filter-title {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  display: -webkit-flex !important;
  flex-shrink: 0 !important;
  -webkit-box-pack: left !important;
      -ms-flex-pack: left !important;
          justify-content: left !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  height: inherit !important;
}
.sidenav-information {
  width: 100%;
}
.drawer-content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  flex-shrink: 0 !important;
  display: flex !important;
  display: -webkit-flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.tab-paginator {
  width: calc(100% - 2px);
  border: 1px solid #F1F1F1;
}
.tab-container {
  width: 100%;
}
.tab-content {
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 12px;
  margin-right: 12px;
  height: calc(100% - 49px) !important;
}
.item-card-sponsored {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  display: -webkit-flex !important;
  flex-shrink: 0 !important;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  border-radius: 5px !important;
  padding: 24px !important;
  background-color: #282e34 !important;
  color: #f4f4f4 !important;
}
.item-card-sponsored:hover  {
  background-color:#3b444d !important;
}
.item-card {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  display: -webkit-flex !important;
  flex-shrink: 0 !important;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  border-radius: 5px !important;
  padding: 24px !important;
  background-color: #282e34 !important;
  color: #f4f4f4 !important;
}
.item-card:hover  {
  background-color:#3b444d !important;
}
.item-content {
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 0px !important;
  min-height: 180px;
}
.item-right {
  min-width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-shrink: 0 !important;
  display: -webkit-flex !important;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: right;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.search-form {
  width: 70vw;
}
.item-header-image {
  width: 180px;
  height: 180px;
  // border: 5px solid;
  border-radius: 50%;
}
.item-title-no-padding {
  // text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0px !important;
}
.item-title {
  text-transform: uppercase;
  font-weight: bold;
}
.search-mobile-padding {
  display: none;
}
.search-mobile-remove-padding {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.search-mobile-button-spacing {
  padding-bottom: 0px
}
.search-toolbar-info {
  display: block;
}
.tab-icon {
  margin-right: 8px;
}
.sponsor-chip {
  background-color: gold !important;
  color: black !important;
}
@media all and (max-width: 400px) {
  .sidenav {
      height: 100%;
      width: 100vw;
  }
  .sidenav-content {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
  }
  .sidenav-information {
      width: 100% !important;
  }
  .search-toolbar-info {
      display: none !important;
  }
}
@media all and (max-width: 500px) {
  .search-toolbar-info {
      display: none !important;
  }
}
@media (min-width: 400px) and (max-width: 630px) {
  .sidenav {
      height: 100%;
      width: 100vw;
  }
  .sidenav-content {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
  }
  .sidenav-information {
      width: 75% !important;
  }
}
@media all and (max-width: 830px) {
  .sidenav {
      height: 100%;
      width: 100vw;
  }
  .sidenav-content {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
  }
  .sidenav-information {
      width: 50%;
  }
}
@media all and (max-width: 1084px) {
  .search-form {
    width: 65vw;
  }
  .item-card {
      -webkit-box-orient: vertical !important;
      -webkit-box-direction: normal !important;
          -ms-flex-direction: column !important;
              flex-direction: column !important;
      -webkit-box-align: center !important;
          -ms-flex-align: center !important;
              align-items: center !important;
  }
  .item-card-sponsored {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .search-mobile-padding {
      display: block;
      -webkit-box-flex: 1;
          -ms-flex: 1 1 auto;
              flex: 1 1 auto;
  }
  .search-mobile-remove-padding {
      display: none !important;
  }
  .item-right {
    text-align: center;
  }
  .item-content {
      // padding-left: 0px;
      // padding-right: 0px;
      padding-top: 12px;
      min-height: 0px;
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      flex-shrink: 0 !important;
      -webkit-box-pack: center !important;
          -ms-flex-pack: center !important;
              justify-content: center !important;
      -webkit-box-align: center !important;
          -ms-flex-align: center !important;
              align-items: center !important;
      text-align: center;
  }
  .search-chips {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      flex-shrink: 0 !important;
      -webkit-box-pack: center !important;
          -ms-flex-pack: center !important;
              justify-content: center !important;
      -webkit-box-align: center !important;
          -ms-flex-align: center !important;
              align-items: center !important;
      text-align: center;
      padding-top: 12px;
  }
  
  .search-mobile-button-spacing {
      padding-bottom: 12px;
      padding-top: 12px;
  }
}