<html class="landing-html" lang="en">
  <body class="landing-body">
    <div class="pimg1">
      <div class="ptext-opening">
        <span class="border medium-divider">
          One's Trash, Another's Treasure
        </span>
        <p class="sub-border medium-divider">Give the things collecting dust to someone who can actually use it.</p>
      </div>
    </div>

    <section class="section section-dark">
      <h2 class="section-title">How It Works</h2>
      <h3 class="section-text">
        Instead of throwing something away, why not give it to someone in your community who actually needs it?
      </h3>
      <div class="how-it-works space-between top-padding">
        <div class="orient-contents-vertically center-contents boxes">
          <mat-icon [inline]="true" class="icons" color="primary">library_add</mat-icon>
          <div class="bold-text top-padding section-text">List the Item</div>
          <p class="sub-section-text">Take a picture of the item you want to give away and list it on our website.</p>
        </div>
        <div class="orient-contents-vertically center-contents boxes">
          <mat-icon [inline]="true" class="icons" color="primary">cottage</mat-icon>
          <div class="bold-text top-padding section-text">Put it Outside</div>
          <p class="sub-section-text">Place the item on your front porch or somewhere you feel comfortable allowing someone to pick it up from.</p>
        </div>
        <div class="orient-contents-vertically center-contents boxes">
          <mat-icon [inline]="true" class="icons" color="primary">surfing</mat-icon>
          <div class="bold-text top-padding section-text">Forget about It</div>
          <p class="sub-section-text">Someone in your community who needs the item will see the item you listed and come pick it up from the designated location.</p>
        </div>
      </div>
    </section>

    <div class="pimg2 orient-contents-vertically">
      <span class="horizontal-spacer"></span>
      <div class="ptext">
        <span class="border trans horizontal-spacer">SIGN UP</span>
      </div>
      <span class="horizontal-spacer"></span>
    </div>

    <section class="section section-light">
      <h2 class="section-title">Ready to help your community and reduce waste? Sign up below.</h2>
      <button class="white-color" color="primary" (click)="OnRegister()" mat-raised-button>Sign Up</button>
    </section>
  </body>
</html>